#map {
  height: 450px; 
  outline: none;
}

.title {
  text-decoration: underline;
}

.fondo-title{
  background-color: #A9CCE3;
}

.icon {
	background: transparent;
	border: none;
}

.icon .number{
	position: relative;
	top: -34px;
	font-size: 9px;
	width: 26px;
	text-align: center;
	color: red;
}
